.container [class^='col-'] {
    padding: 0;
  }
  .container .col-sm-1 {
    flex: 0 0 auto;
    width: 25%;
  }
  .container .col-sm-2 {
    flex: 0 0 auto;
    width: 50%;
  }
  .container .col-sm-3 {
    flex: 0 0 auto;
    width: 75%;
  }
  .container .col-sm-4 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .container .col-md-1 {
      flex: 0 0 auto;
        width: 8.33333%;
    }
    .container .col-md-2 {
      flex: 0 0 auto;
      width: 16.66667%;
    }
    .container .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .container .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333%;
    }
    .container .col-md-5 {
      flex: 0 0 auto;
      width: 41.66667%;
    }
    .container .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .container .col-md-7 {
      flex: 0 0 auto;
      width: 58.33333%;
    }
    .container .col-md-8 {
      flex: 0 0 auto;
      width: 66.66667%;
    }
    .container .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .container .col-md-10 {
      flex: 0 0 auto;
      width: 83.33333%;
    }
    .container .col-md-11 {
      flex: 0 0 auto;
      width: 91.66667%;
    }
    .container .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
    } 
    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
    }
  }
  @media screen and (min-width: 1200px) {
    .container .col-lg-1 {
      flex: 0 0 auto;
      width: 8.33333%;
    }
    .container .col-lg-2 {
      flex: 0 0 auto;
      width: 16.66667%;
    }
    .container .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .container .col-lg-4 {
      flex: 0 0 auto;
      width: 33.33333%;
    }
    .container .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66667%;
    }
    .container .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .container .col-lg-7 {
      flex: 0 0 auto;
      width: 58.33333%;
    }
    .container .col-lg-8 {
      flex: 0 0 auto;
      width: 66.66667%;
    }
    .container .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .container .col-lg-10 {
      flex: 0 0 auto;
      width: 83.33333%;
    }
    .container .col-lg-11 {
      flex: 0 0 auto;
      width: 91.66667%;
    }
    .container .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    } 
  }