.tbl-section{

}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    color: $color-gray-dark;
    border-color: $color-gray-light-e;
    border-collapse: collapse;
    border-spacing: 0;
    >:not(caption)>*>*{
        padding: 10px;
        border-bottom-width: 1px;
        white-space: nowrap;
    }
    thead{
        vertical-align: middle;
        background-color: $color-gray-light-f;
        padding-left: $lg-space;
        padding-right: $lg-space;
        th{
            font-weight: 700;
        }
    }
    tbody{
        padding-left: $lg-space;
        padding-right: $lg-space;
        vertical-align: middle;
        text-align: center;
        tr:hover{
            background-color: #fcfcfc;
        }
        td .btn{
            padding: 7px 11px;
        }        
    }
}

@media screen and (max-width: 1199px) {
    .tbl-section{
        overflow-x: auto;
    }
}
.price-cell {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    ul li{
        padding: 2px 0;
    }
}

.input-price{
    background-color: $color-gray-light-f;
    width: 63px;
    height: 30px;
    text-align: end;
    padding-right: 15px;
    margin: 0 9px 0 12px;
}