@import 'constants/constants';

@import 'base/reset';
@import 'base/grid';
@import 'base/fonts';

@import 'mixins/flexbox';
@import 'mixins/responsive';

@import 'button';
@import 'form';

@import 'pages/login';

.container {
  width: 100%;
  height: inherit;
  padding-left: $lg-space;
  padding-right: $lg-space;
  margin: 0 auto; 

  @include responsive(T){
    padding-left: $sm-space;
    padding-right: $sm-space;
  }
}
.row {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include responsive(M){
      justify-content: flex-start;
    }
} 
@include responsive(M){
  body{
    font-size: $sm-font;
  }
}
.text-center{text-align: center;}
.text-left{text-align: left;}
.p-relative{position: relative;}
.d-none{display:none;}
.hidden{visibility: hidden;}
.mb-0{margin-bottom: 0 !important}

