$color-white: #fff;
$color-black: #000;
$color-primary: #FFBC64;
$color-secondary: #8c8985;
$color-link-text: #64A7FF;
$color-danger: #ff0000;
$color-point: #FF64A7;
$color-bg-dark: #302c2b;
$color-bg-light: #f4f4f4;
$color-border: #dbdbdb; //#e8e8e8;
$color-placeholder: #c8c8c8;
$color-sm-text: #999;
$color-bg-light-f9: #f9f9f9;
$color-blue: #6f64ff;

$md-breakpoint: 768px;
$lg-breakpoint: 1200px;

$lg-font-nav: 18px;
$brand-nav-d: 16px;

$sm-font-nav: 15px;
$sm-font: 12px;
$sm-list-font: 10px;

$radius: 2px;

$lg-height-nav: 60px;
$sm-height-nav: 40px;

$lg-space: 20px;
$sm-space: 15px;

$lg-height-input: 40px;
$sm-height-input: 30px;

$lg-img: 80px;
$sm-img: 100px;

$profile-img: 60px;
$posting-img-pop: 135px;

//z-index
$topbutton-level: 10;
$tooltip-level: 20;
$gnb-drop-level: 30;
$gnb-level: 40;
$modal-level: 100;
$datemodal-level: 110;
$memomodal-level: 120;
$autocomplete-level: 99999;